<!DOCTYPE html>
<html>
  <head>
    <title>Add Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <% include nav %>
      <p></p> <!-- Spacer for content to match instructors -->
      
      <div class="card border-primary ng-scope" style="width: 50%">
          <form class="p-3" name="userForm" method="POST">
            <div class="form-group">
              <label class="text-primary">Author</label>
              <input class="form-control" name="author">
              <label for="summary" class="text-primary">Blog Title</label>
              <input class="form-control" id="title" name="blogTitle">
              <label for="detail" class="text-primary">Blog Text</label>
              <textarea class="form-control" id="text" rows="3" name="blogText"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Add Blog">
          </form>
      </div>

    </div>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
