<!DOCTYPE html>
<html>
  <head>
    <title>Delete Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <% include nav %>
      <p></p>
      <h4>Delete Blog</h4>
      <p><i>Delete feature is under construction.</i></p>
    </div>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
