<!DOCTYPE html>
<html>
  <head>
    <title>Delete Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <% include nav %>
      <p></p>
      
      <div class="card border-primary ng-scope" style="width: 50%">
        <form class="p-3" name="userForm" method="POST">
          <div class="form-group">
            <label class="text-primary">Author</label>
            <input readonly class="form-control" name="author" value=<%= blog.author %>>
            <label for="summary" class="text-primary">Blog Title</label>
            <input readonly class="form-control" id="title" name="blogTitle" value=<%= blog.blogTitle %>>
            <label for="detail" class="text-primary">Blog Text</label>
            <textarea readonly class="form-control" id="text" rows="3" name="blogText"><%= blog.blogText %>  </textarea>
          </div>
          <input type="submit" class="btn btn-danger float-right" value="Delete Blog">
          <a class="btn btn-primary float-right mr-2" href="/blogs">Cancel</a>
        </form>
    </div>

    </div>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
