<!DOCTYPE html>
<html>
  <head>
    <title>Edit Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <% include nav %>
      <p></p>
      <h4><%= title %></h4>
      <h2><%= content %></h2>
    </div>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
