<!DOCTYPE html>
<html>
  <head>
    <title><%= name %>'s Blog Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <% include nav %>
      <p></p>
      <h4><%= name %>'s Blog Site</h4>
      <p>Welcome to my blog site</p>
    </div>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
